@model NovaMaster.Models._InformationModel;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "agent")
    {
        Layout = "_Layout";
    }
    else if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "client")
    {
        Layout = "_LayoutClient";
    }
}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-bg-picture" style="background-image: url('/images/bg-profile.jpg')">
                        <span class="picture-bg-overlay"></span>
                    </div>
                    <div class="profile-user-box">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="profile-user-img"><img src="~/images/users-avatar-1.jpg" alt="" class="avatar-lg rounded-circle"></div>
                                <div class="">
                                    <a href="#">#</a>
                                    <h4 class="mt-5 font-18 ellipsis">
                                        @if (Model.Users != null)
                                        {@Model.Users.FullName;
                                    }
                                    </h4>
                                    <p class="font-13">
                                        @if (Model.Info != null)
                                        {@Model.Info.About}
                                    </p>
                                    <p class="text-muted mb-0"><small>Agent at NW Immigration</small></p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="text-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-12">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <ul class=" nav nav-tabs tabs-bordered nav-justified">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#aboutme">About</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#edit-information">Update Information</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#submitted-documents">Submit documents</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user-settings">Profile Settings</a></li>
                            </ul>
                            <div class="tab-content m-0 p-4">
                                @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "agent")
                                {
                                    <partial name="Partial/_AgentInformation" />
                                    <partial name="Partial/_AgentInfo" />
                                }
                                else if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "client")
                                {
                                    <partial name="Partial/_ClientInformation" />
                                    <partial name="Partial/_ClientInfo" />
                                }
                                else
                                {
                                    <partial name="Partial/_AgentInformation" />
                                    <partial name="Partial/_AgentInfo" />
                                }
                                <div id="submitted-documents" class="tab-pane">
                                    <div class="row m-t-10">
                                        <div class="col-md-12">
                                            <div class="portlet">
                                                <div id="portlet2" class="panel-collapse collapse show">
                                                    <div class="portlet-body">
                                                        <div class="table-responsive">
                                                            <table class="table mb-0">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Document Name</th>
                                                                        <th>Document URL</th>
                                                                        <th>Status</th>
                                                                        <th>Remarks</th>
                                                                    </tr>
                                                                </thead>
        <tbody>
            @if (Model.Docs != null)
            {
                @foreach (var item in Model.Docs)
                {
                    <tr class="editField">
                        <td>@item.DocumentName</td>
                        <td><a href="javascript:void(0)" class="file" id="@item.DocId" name="@item.DocId">View Document</a></td>
                        @if (item.IsVerified == true)
                        { <td><span class="badge badge-pink">Verified</span></td> }
                        else { <td>
    <span class="badge badge-warning">Pending verification</span>
                        @if (item.IsVerified == false)
                            {<a href="javascript:void(0)" class="docId" id="@item.DocId" name="@item.DocumentName"> &#x2716 </a>}
                        </td> }
                        <td>@item.Comments</td>
                    </tr>
                }
            }
        </tbody>
                                                            </table>
                                                        </div>
                                                        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "client")
                                                        {
                                                            <partial name="Partial/_ClientDocsUpload" />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="user-settings" class="tab-pane">
                                    <div class="user-profile-content">
                                        <form id="onSubmit">
                                            <div class="form-group">
                                                <label asp-for="@Model.Users.Email">Email</label>
                                                <input type="email" asp-for="@Model.Users.Email" value="@if (Model.Users != null){@Model.Users.Email; }" readonly id="Email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="Password">Change Password</label>
                                                <input type="password" placeholder="6 - 15 Characters" id="Password" required class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="RePassword">Confirm Change Password</label>
                                                <input type="password" placeholder="6 - 15 Characters" id="CnfPassword" required class="form-control">
                                            </div>
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    2015 - 2020 &copy; Velonic theme by <a href="vertical.html">Coderthemes</a>
                </div>
            </div>
        </div>
    </footer>
</div>
@section scriptts{
    <script src="~/js/validate/validate2.js"></script>
}
@* Alerts *@
@if (ViewBag.IsSuccess != null && ViewBag.IsSuccess == true)
{
    <script>
        alert("Records updated successfully!");
        window.history.pushState({}, '', '/Identity/IdentityView');
    </script>
}
@if (ViewBag.IsFailed != null && ViewBag.IsFailed == true)
{
    <script>
        alert("Failed to update records!");
        window.history.pushState({}, '', '/Identity/IdentityView');
    </script>
}
@if (ViewBag.IsDuplicate != null && ViewBag.IsDuplicate == true)
{
    <script>
        alert("One or more file is already uploaded");
        window.history.pushState({}, '', '/Identity/IdentityView');
    </script>
}
@* Alerts *@